.mode-selector-container {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 15px;
}

.mode-selector-dropdown {
    flex: 1;
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mode-selector-button {
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    background-color: #f0f0f0;
}
  
.mode-selector-button:hover {
    background-color: #e0e0e0;  
}